<div class="layout-main">
  <div class="layout-sidebar">
    <div class="layout-sidebar-backdrop"></div>
    <div class="layout-sidebar-body">
      <div class="custom-scrollbar">
        <nav id="sidenav" class="sidenav-collapse collapse">
          <ul class="sidenav level-1">
            <!--<li class="sidenav-search">
                          <form class="sidenav-form" action="/">
                              <div class="form-group form-group-sm">
                                  <div class="input-with-icon">
                                      <input class="form-control" type="text" placeholder="Search…">
                                      <span class="icon icon-search input-icon"></span>
                                  </div>
                              </div>
                          </form>
                      </li>-->
            <li class="sidenav-heading">Navigation</li>
            <!--<li class="sidenav-item has-subnav active">
                          <a href="/Dashboard" aria-haspopup="true">
                              <span class="sidenav-icon icon icon-works">&#103;</span>
                              <span class="sidenav-label">Dashboards</span>
                          </a>
                          <ul class="sidenav level-2 collapse">
                              <li class="sidenav-heading">Dashboards</li>
                              <li class="active"><a href="dashboard-1.html">Dashboard 1</a></li>
                              <li><a href="dashboard-2.html">Dashboard 2</a></li>
                              <li><a href="dashboard-3.html">Dashboard 3</a></li>
                          </ul>
                      </li>-->
            <li class="sidenav-item">
              <a href="/Admin_Dashboard">
                <span class="sidenav-icon icon icon-bar-chart"></span>
                <span class="sidenav-label">Dashboard</span>
              </a>
            </li>
            <li class="sidenav-item has-subnav">
              <a href="#" aria-haspopup="true">
                <span class="sidenav-icon icon icon-shopping-cart"></span>
                <span class="sidenav-label">Vouchers </span>
              </a>
              <ul class="sidenav level-2 collapse">
                <li><a href="/Admin_Voucher">Payment Vouchers</a></li>
                <li><a href="/Admin_ReceiptVoucher">Receipt Vouchers</a></li>
              </ul>
            </li>
            <li class="sidenav-item has-subnav">
              <a href="#" aria-haspopup="true">
                <span class="sidenav-icon icon icon-shopping-cart"></span>
                <span class="sidenav-label">Manage </span>
              </a>
              <ul class="sidenav level-2 collapse">
                <li><a href="/Admin_BankAccount">Bank Account</a></li>
                <li><a href="/Admin_MyAccount">My Account</a></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
  <div class="layout-content">
    <div class="layout-content-body">

